body {
    font-family: sans-serif;
    font-size: 0.9em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrap {
    /* padding: 0;
    margin: 0;
    list-style: none; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.color {
    border: none;
    padding: 0 2px;
    margin: 10px;
    width: 60px;
    height: 25px;
}

#buttons {
    margin: 20px auto;
    text-align: center;
}

.margin-r {
    margin-right: 100px;
}

#generate-btn {
    background: #17dfb5;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #37c3a2;
    outline: none;
    transition-duration: 1s;
}

#generate-btn:hover {
    background: #37c3a2;
}

.parent-rect {
    width: 405px;
    height: 304px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent-block-start {
    width: 400;
    height: 300;
}

.parent-block {
    display: grid;
    background-color: 'none';
}

.child-block {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigger_width {
    grid-column-gap: 'px;
    justify-content: stretch;
}

.bigger_height {
    grid-row-gap: 2px;
    align-content: stretch;
}